.start{
    width: 100%;
    background-color: #7913e5;
    padding-top: 100px;
}
.start .inner{
    width: 85%;
    margin-inline: auto;
    /* border: thin solid red; */
    margin-top: 80px;
    display: flex;
    color: #f2f7f8;
}
.start .inner .left{
    /* border: thin solid yellow; */
    font-size: 20px;
    line-height: 32px;
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
}
.start .inner .left h2{
    font-size: 48px;
    line-height: 52px;
}
.start .inner .left .auto{
    /* border: thin solid black; */
    display: flex;
    align-items: center;
    width: 180px;
    background-color: #f2f7f8;
    color: #7913e5;
    justify-content: center;
    border-radius: 20px;
    /* padding-inline: 10px; */
    padding-block: 10px;
    gap: 8px;
    font-size: 17px;
    line-height: 23px;
}
.start .inner .left .links{
    display: flex;
    gap: 30px;
}
.start .inner .left .links img{
    width: 20px;
}
.start .inner .left .links a{
    padding: 12px;
    padding-block: 15px;
    border-radius: 14px;
    text-decoration: none;
    background-color: #122231;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 5px;
    max-width: 170px;
    color: #f2f7f8;
    font-size: 16px;
    line-height: 27px;
}
.start .inner .right{
    width: 51%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: right;
    /* border: thin solid green; */
}
.start .inner .right div img{
    width: 60%;
}
.start .inner .right img{
    width: 80%;
    /* position: relative; */
    /* margin-inline: auto; */
}
.start .inner .right #image1{
    position: relative;
}
.start .inner .right #image2{
    position: absolute;
    left: 55%;
    top: 40%;
}
.return{
    width: 100%;
    background-color: #f2f7f8;
    padding-top: 50px;
}
.return .inner{
    width: 85%;
    margin-inline: auto;
}
.return .inner .top{
    line-height: 27px;
    text-align: center;
}
.return .inner h2{
    font-size: 51px;
    line-height: 64px;
}
.return .inner h3{
    font-size: 36px;
    line-height: 42px;
    color: #7913e5;
}
.return .inner .bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.return .inner .bottom>div{
    width: 31%;
    /* border: thin solid black; */
    padding-inline: 3%;
    background-color: white;
    padding-top: 40px;
    border-radius: 30px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.return .inner .bottom>div img{
    width: 100%;
}
.return .inner .bottom>div>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.build{
    width: 100%;
    padding-top: 100px;
    height: 600px;
    display: flex;
    background-color: #f2f7f8;
    /* margin-bottom: 200px; */
    padding-bottom: 100px;
}
.build .inner{
    background-color: #7913e5;
    width: 58%;
    display: flex;
    align-items: center;
}
.build .inner .text{
    /* border: thin solid yellow; */
    color: #f2f7f8;
    line-height: 27px;
    width: 76.5%;
    margin-inline: auto;
    /* margin-right: 29%; */
    /* border: thick solid black; */
    /* padding-left: 20px; */
    /* padding-right: 16px; */
    /* padding-bottom: 85px; */
}
.build .inner .text p{
    width: 79.9%;
    /* border: thin solid black; */
}
.build .inner .text h3{
    font-size: 51px;
    line-height: 61px;
    margin-bottom: 20px;
}
.build .image{
    /* border: thin solid red; */
    width: 42%;
    background-image: url(https://storage.googleapis.com/piggyvestwebsite/piggywebsite2020/image_10ee373879/image_10ee373879.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.recent{
    width: 100%;
    background-color: #f2f7f8;
    padding-bottom: 90px;
}
.recent .inner{
    width: 85%;
    margin-inline: auto;
}
.recent .inner .top{
    text-align: center;
}
.recent .inner .top h2{
    font-size: 51px;
}
.recent .bottom{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    row-gap: 5%;
}
.recent .bottom .item{
    /* border: thin solid black; */
    border-radius: 25px;
    /* overflow-y: hidden; */
    /* height: 100px; */
    /* width: 500px; */
}
.recent .bottom .item img{
    width: 100%;
    /* margin-inline: auto; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.recent .bottom .item h3{
    font-size: 20px;
    line-height: 25px;
}
.recent .bottom .item>div{
    width: 360px;
    background: #fff;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left ;
    padding: 30px 15px 30px 30px;
    top: -8px;
    margin-left: auto;
    margin-right: auto ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border:  thin solid black; */
}
.recent .bottom .item>div>div{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.recent .bottom .item>div>div>div{
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    /* border: thin solid black; */
}
.recent .bottom .item>div>p{
    color: #3f9a3f;
    background-color: #3f9a3f11;
    padding: 15px 22px;
    line-height: 10px;
    width: 130px;
    text-align: center;
    border-radius: 30px;
}














@media (max-width: 1340px) {
    .recent .bottom{
        grid-template-columns: 1fr 1fr;
    }
    .recent .bottom .item>div{
        width: 100%;
    }
}
@media (max-width: 1023px) {
    .start .inner .left{
        width: 100%;
        text-align: center;
        /* justify-content: center; */
        align-items: center;
    }
    .start .inner .right{
        width: 100%;
    }
    .start .inner .right img{
        width: 100%;
    }
    .start .inner .right #image2{
        display: none;
    }
    .return{
        padding-top: 20%;
        padding-bottom: 90px;
    }
    .return .inner h2{
        font-size: 38px;
        line-height: 45px;
    }
    .recent .bottom{
        margin-bottom: 100px;
    }
}
@media (max-width: 988px) {
    /* h2{
        font-size: 35px;
    } */
    .start .inner{
        flex-direction: column;
        gap: 50px;
        width: 80%;
    }
    .return .inner .bottom{
        flex-direction: column;
        gap: 50px;
        /* justify-content: center; */
        align-items: center;
        /* margin-top: 100px; */
    }
    .return .inner .bottom>div{
        width: 80%;
        gap: 5%;
        margin-inline: auto;
        text-align: center;
        /* justify-content: center; */
        align-items: center;
        padding-bottom: 10px;
    }
    /* .return .inner .bottom div img{
        width: 70%;
    } */
    .return .inner .bottom>div div{
        /* text-align: center; */
        justify-content: center;
        align-items: center;
    }
    .build{
        /* flex-direction: column; */
        display: block;
        padding-top: 0;
        margin-bottom: 240px;
        /* margin-top: 80px; */
        /* padding-bottom: 100px; */
    }
    .build .inner{
        width: 100%;
        /* border: thick solid black; */
    }
    .build .inner .text{
        width: 91%;
        margin-inline: auto;
        text-align: center;
        margin-block: 100px;
        /* border: thick solid black; */
    }
    .build .inner .text p{
        width: 90%;
        margin-inline: auto
    }
    .build .image{
        width: 100%;
        height: 300px;
        background-size: cover;
        /* margin-bottom: 200px; */
        /* border: thin solid green; */
    }
    .build .inner .text h3{
        font-size: 39px;
        line-height: 48px;
    }
    .recent{
        padding-top: 80px;
    }
    .recent .inner .top h2{
        font-size: 35px;
    }
}
@media (max-width: 720px) {
    .return .inner .bottom>div{
        width: 90%;
    }
    .return .inner .bottom div img{
        width: 98%;
    }
    /* .recent .top{
        border: thin solid red;
    } */
    .recent .bottom{
        /* width: 90%; */
        grid-template-columns: 1fr;
        margin-bottom: 500px;
        /* margin-right: 0; */
        /* border: thin solid black; */
        margin-inline: auto;
    }
}
@media (max-width: 387px) {
    .start .inner .left .links{
        flex-direction: column;
        gap: 20px;
    }
}